body {
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

#container-all {
    padding: 60px 180px 0px;
}

#container {
    height: auto;
}

#table-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #435d7d;
    height: 75px;
    border-radius: 3px;
    color: white;
    padding: 0px 30px 0px;
    font-size: 24px;
}

#app-title {
    padding-top: 10px;
}

.btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

#filter-container {
    height: 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search {
    width: 300px;
}

.edit-icon {
    color: orange;
}

.delete-icon {
    color: red;
}

input[type=checkbox].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
    padding-left:30px;
    height:25px; 
    display:inline-block;
    line-height:25px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:25px;
    vertical-align:middle;
    cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
    background-position: 0 -25px;
}
label.css-label {
background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_391ce065f36b1460c4845fa9b5173fba.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.has-error {
    border-color: red!important;
}

#filter-form {
    display: flex;
    width: 400px;
}

#filter-input {
    display: inline-block;
    margin-right: 10px;
}

#filter-btn {
    display: inline-block;
    background-color: #6187b6;
    border-color: #6187b6;
}